#tree1 {
   font-size: 1.5em;
}

#tree1 i {
   color: #18A55D;
   cursor: pointer;
}

#tree1 button i {
   color: #DB4C3F;
}

#tree1 button i {
   color: #FF0000;
}

#tree1, #tree1 ul {
   margin:0;
   padding:0;
   list-style:none;
}

#tree1 ul {
   margin-left: 50px;
   position:relative;
}

#tree1 ul:before {
   content: "";
   display:block;
   /*width: 5;*/
   position:absolute;
   top:0;
   bottom:0;
   left:0;
   border-left: 1px solid;
}

#tree1 li {
   margin:0;
   padding:0 1em;
   line-height:2em;
   color: #397DA3;
   font-weight:700;
   position:relative;
}

#tree1 ul li:before {
   content:"";
   display:block;
   width:10px;
   height:0;
   border-top:1px solid;
   margin-top:-1px;
   position:absolute;
   top:1em;
   left:0;
}

#tree1 li a {
   text-decoration: none;
   color: black;
}

#tree1 li button, #tree1 li button:active, #tree1 li button:focus {
   text-decoration: none;
   color: pink;
   border:none;
   background:transparent;
   margin:0px 0px 0px 0px;
   padding:0px 0px 0px 0px;
   outline: 0;
}
